<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyang.fourband.library" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />

    <application>
        <activity android:name=".MainActivity" />
        <activity android:name=".ColorActivity" />
        <activity android:name=".ColorActivity5" />
        <activity android:name=".ValueActivity" />
        <activity android:name=".ValueActivity5" />
        <activity android:name=".ListActivity" />
        <activity android:name=".HelpActivity" />
    </application>

</manifest>